/* google link */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Rubik:wght@700&display=swap');


/* common css start */
    body{
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #898989;
    }
/* common css end */

/* header start */
    header{
        background-color: #fcdb00;
        padding: 20px 0;
    }
    .c_nav{}
    .logo{}
    .menu{}
    .menu ul li a{
        font-size: 22px;
        font-weight: 700;
        color: #010101  !important;
        padding: 0 50px !important;
    }
    .menu ul li:last-child a{
        padding-right: 0 !important;
    }
    .menu ul li a:hover{
        color: white !important;
    }
/* header end */

/* slider start */
    .slider{
        background-color: #fcdb00;
        padding-bottom: 100px;
    }
    .c_ind {
        bottom: -80px;

    }
    .c_ind [data-bs-target] {
    
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;

    }
    .carousel-indicators .active {
    opacity: 1;
    }
    .S_text{
        margin-top: 50px;
    }
    .S_text h1{
        font-size: 32px;
        font-weight: 700;
        color: #010101;
    }
    .S_text h2{
        margin: 20px 0;
        font-size: 20px;
        font-weight: 400;
        color: #313841;
    }
    .S_text p{
        margin-bottom: 35px;
        color: #555555;
    }
    .S_icon{}
    .S_icon ul li{
        margin-right: 30px !important;
    }
    .S_icon ul li i{
        font-size: 42px;
        color: #010101;
    }
    .S_icon ul li i:hover{
        transform: scale(1.2);
        color: white;
    }
    .S-img{}
    .S_img img{}
/* slider end */



